.img_arrow{
    width:60%;
    cursor:pointer;
}


.modal-content-cookie {
    color:white;
    background-color: #303030;

    left: 0;
    top: 0;


    padding: 20px;
    border: 1px solid #888;

    height: auto;
    overflow:auto;
    position: relative;
}



.console_div {
    display:block;
}





.td1_1{
    display: table-cell;
    vertical-align: inherit;
    width:33%;
}
.td1_2{
    display: table-cell;
    vertical-align: inherit;
    width:34%;
}
.td1_2{
    display: table-cell;
    vertical-align: inherit;
    width:33%;
}



#up_file_btn
{
    border-radius: 15px;
    color:white;
    background-color: #147662;
    height:100%;
    width:63px;
    position:relative;
    padding:0;
}
#up_file_btn:hover{
    background-color: #19947b !important;
}

.file_close_btn{
    padding:0;
    height:100%;
    color:#003153;
    text-align: center;

}

.example_div{

    height:150px;
    width:calc(100% - 100px);
    width:70% !important;
    position:relative;
    float:left;
    border:1px solid #CED4DA !important;
    border-radius: 4px;
}
.example_btn{
    padding:15px !important;
    width:25%;
    word-break:break-all;
    color:white !important;
    font-size:1em !important;
    font-weight:bold !important;
}
.example_btn_1{
     background-color: #00b787 !important;
}
.example_btn_2{
     background-color: #00a37c !important;

}
.example_btn_3{
    background-color: #009172 !important;
}
.example_btn_4{
    background-color: #088269 !important;
}
.example_btn:hover{
    background-color: #008080 !important;
}
#wordcloud_btn{
    position:absolute;
    right:0px;
    color:white;
    background-color: #147662;
    height:150px;
    width:100%;

    padding:0;
    font-size:1.3em;
    font-weight:bold;
    border: 1px solid #CED4DA;
    border-radius: 4px;

}
#wordcloud_btn:hover{
    background-color: #19947b !important;
}

.input_change_btn{
    background-color: #147662 !important;
    height:335px;
    color:  white !important;

}
.input_change_btn:hover{
    background-color: #19947b !important;
    color:  white !important;
}

.m_btn{
    color:white !important;
    background-color: #147662 !important;
    width:100%;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
    border:0;
    line-height: 1.75 !important;

}

.m_btn:hover{
   background-color: #19947b !important;
}

.btn_type_change{
        --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --bs-gutter-x: 0.75rem;
    --bs-gutter-y: 0;
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    -webkit-appearance: button;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;

    padding: 0;
    color: #147662;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;

    cursor: pointer;
}

.btn_type_change:hover{
    color: #00a37c;
}
.type2{
    display:none;
}

.nlp_btn_active{
    background-color: #003153 !important;
    color: #FFF !important;
}














.scroll_tbody{
    display: block;
    overflow-y: scroll;

}
.scroll_tbody::-webkit-scrollbar{
    width: 8px;
    height: 4px;
}
/*滚动条滑块*/
.scroll_tbody::-webkit-scrollbar-thumb{
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #c7c4c4;
}
/*滚动条里面轨道*/
.scroll_tbody::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
}
/*滚动条的小边角*/
.scroll_tbody::-webkit-scrollbar-corner {
    background: transparent;
}

html::-webkit-scrollbar{
    width: 8px;
    height: 4px;
}
html::-webkit-scrollbar-thumb{
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #c7c4c4;
}
html::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;

}
html::-webkit-scrollbar-corner {
    background: transparent;
}

#stopwords_record::-webkit-scrollbar,#stopwords_text::-webkit-scrollbar,#mwe_text::-webkit-scrollbar,#mwe_record::-webkit-scrollbar{
    width: 8px;
    height: 4px;
}
#stopwords_record::-webkit-scrollbar-thumb,#stopwords_text::-webkit-scrollbar-thumb,#mwe_text::-webkit-scrollbar-thumb,#mwe_record::-webkit-scrollbar-thumb{
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #c7c4c4;
}
#stopwords_record::-webkit-scrollbar-track,#stopwords_text::-webkit-scrollbar-track,#mwe_text::-webkit-scrollbar-track,#mwe_record::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;

}
#stopwords_record::-webkit-scrollbar-corner,#stopwords_text::-webkit-scrollbar-corner,#mwe_text#mwe_record::-webkit-scrollbar-corner,#mwe_record::-webkit-scrollbar-corner {
    background: transparent;
}

